@import "colors";
@import "github-dark";

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    // color: $regular-text-color;
    // background-color: $code-block-background-color;
    font-size: 13px;
    padding: 4px 6px;
    border-radius: 2px;
}

pre {
    padding: 8px 15px;
    // background: $code-block-background-color;
    border-radius: 2px;
    border: 2px solid $code-block-border-color;
    overflow: auto;
    overflow-y: hidden;

    code {
        // color: $unhighlighted-code-color;
        margin: 0;
        padding: 0;
    }
}

a code {
    background-color: $monospace-link-background-color;
    color: $monospace-link-color;

    &:hover {
        color: $monospace-link-hover-color;
        text-decoration: underline;
    }
}
