$background-color : #1e1e1e;

$regular-text-color: #dcdcdc;
$important-text-color: #aaffff;

$unhighlighted-code-color: #efefef;
$code-block-background-color: #191919;
$code-block-border-color: #121212;

$blockquote-background-color: #333333;
$blockquote-border-color: #8888ff;

$table-line-color: #434343;

$horizontal-rule-line-color: #008888;

$link-color: #16bbbb;
$link-hover-color: #16ffff;