.content-wrapper {
    max-width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    padding-top: 10px;
}

@media (orientation: portrait) {
    .content-wrapper {
        max-width: 100%;
    }
}