@import "fonts";
@import "page-general";
@import "table";
@import "blockquote";
@import "code";
@import "header";
@import "footer";
@import "content-wrapper";

.home-page-link {
    width: 15%;
    left: 0;
    top: 5%;
    position: absolute;
    margin: 20px;
    text-align: center;
}